**Type Casting**

In [2]:
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3
print(x)
print(y)
print(z)

1
2
3

In [3]:
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2
print(x)
print(y)
print(z)
print(w)

1.0
2.8
3.0
4.2

In [4]:
x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'
print(x)
print(y)
print(z)

s1
2
3.0

**String**

In [5]:
print("Hello")
print('Hello')

Hello
Hello

In [6]:
print("It's alright")
print("He is called 'Johnny'")
print('He is called "Johnny"')

It's alright
He is called 'Johnny'
He is called "Johnny"

In [7]:
a = "Hello"
print(a)

Hello

In [8]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [9]:
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [10]:
a = "Hello, World!"
print(a[1])

e

In [11]:
for x in "banana":
  print(x)

b
a
n
a
n
a

In [12]:
a = "Hello, World!"
print(len(a))

13

In [13]:
txt = "The best things in life are free!"
print("free" in txt)

True

In [14]:
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

In [15]:
txt = "The best things in life are free!"
print("expensive" not in txt)

True

In [16]:
txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

In [17]:
b = "Hello, World!"
print(b[2:5])

llo

In [18]:
b = "Hello, World!"
print(b[:5])

Hello

In [19]:
b = "Hello, World!"
print(b[2:])

llo, World!

In [20]:
b = "Hello, World!"
print(b[-5:-2])

orl

In [21]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [22]:
a = "Hello, World!"
print(a.lower())

hello, world!

In [23]:
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!

In [24]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

In [25]:
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' World!']

In [26]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [27]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

In [28]:
age = 36
txt = "My name is John, I am " + age
print(txt)

TypeError: can only concatenate str (not "int") to str

In [29]:
age = 36
txt = f"My name is John, I am {age}"
print(txt)

My name is John, I am 36

In [30]:
price = 59
txt = f"The price is {price} dollars"
print(txt)

The price is 59 dollars

In [31]:
price = 59
txt = f"The price is {price:.2f} dollars"
print(txt)

The price is 59.00 dollars

In [32]:
txt = f"The price is {20 * 59} dollars"
print(txt)

The price is 1180 dollars

In [33]:
# Through error
# txt = "We are the so-called "Vikings" from the north."

In [34]:
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

**Operator**

In [35]:
print(10 + 5)

15

In [36]:
print((6 + 3) - (6 + 3))

0

In [37]:
print(100 + 5 * 3)

115

In [38]:
print(5 + 4 - 7 + 3)

5